<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="MortalCombatBusinessServer.BusinessInterfaceImpl" behaviorConfiguration="ServiceBehavior">
				<endpoint address="net.tcp://localhost:8200/MortalCombatBusinessService" binding="netTcpBinding" contract="MortalCombatBusinessServer.BusinessInterface" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8200/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_BusinessInterface">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- Enable detailed fault information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>